.board {
  --card-width: minmax(150px, 1fr);

  display: grid;
  grid-template-columns: repeat(auto-fit, var(--card-width));
  grid-auto-flow: dense;
  justify-content: center;
  gap: 1rem;
  padding: 1em;
  margin-top: 1rem;
}

/* if '.board' has any '.card' on hover, */
/* select all the other '.card' that are not hovered */
.board:has(.card:hover) > .card:not(:hover) {
  filter: blur(2px) grayscale(0.75);
  transform: scale(0.98);
}

@media (min-width: 35em) {
  .board {
    --card-width: min(100%, 250px);
  }
}
