.card {
  --clr-border: var(--clr-neutral-700);
  --clr-box-shadow: hsla(0%, 0%, 0%, 0.25);

  padding: 1em;
  background-color: var(--clr-neutral-600);
  border: 1px solid var(--clr-border);
  border-radius: 0.5rem;
  box-shadow: 0px 5px 10px var(--clr-box-shadow);
  overflow: hidden;
  transition: transform 200ms ease-in-out;
}

.card:hover,
.card:focus {
  --clr-border: var(--clr-primary-400);
  --clr-box-shadow: var(--clr-primary-400);

  transform: scale(105%);
}

.card:hover {
  cursor: pointer;
}

.card__img {
  /* max-height: 80px; */
  height: 80px;
  object-fit: cover;
  object-position: center;
}

.card__name {
  font-size: 1rem;
  font-weight: var(--fw-bold);
  text-align: center;
  color: var(--clr-primary-400);
  opacity: 0.75;
}
