.card {
  --clr-border: var(--clr-neutral-700);
  --clr-box-shadow: hsla(0%, 0%, 0%, 0.25);

  padding: 1em;
  background-color: var(--clr-neutral-600);
  border: 1px solid var(--clr-border);
  border-radius: 0.5rem;
  box-shadow: 0px 5px 10px var(--clr-box-shadow);
  overflow: hidden;
  transition: transform 400ms ease-in-out;
}

.card:hover,
.card:focus {
  --clr-border: var(--clr-primary-400);
  --clr-box-shadow: var(--clr-primary-400);

  cursor: pointer;
  transform: scale(102%);
}

.card:hover > .card__img,
.card:focus > .card__img {
  background-image: radial-gradient(
    var(--clr-neutral-100) 20%,
    var(--clr-primary-400)
  );
}

.card__img,
.card__placeholder {
  border: 1px solid var(--clr-primary-400);
  border-radius: 0.5rem;
}

.card__placeholder {
  text-align: center;
  color: var(--clr-neutral-100);
  padding: 4em 1em;
}

.card__img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.card__name {
  font-weight: var(--fw-bold);
  text-align: center;
  color: var(--clr-primary-400);
  opacity: 0.75;
  margin-top: 1em;
}
