.info-modal__paragraph {
  margin-top: 1em;
}

.info-modal__paragraph:first-of-type {
  margin-top: 0;
}

.info-modal__btn-close {
  display: block;
  font-size: var(--fs-200);
  color: var(--clr-neutral-200);
  background-color: transparent;
  padding: 0.35em 1em;
  border: 1px solid var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.25);
  opacity: 0.75;
  margin: 2em auto 0 auto;
  transition: all 200ms ease-in-out;
}

.info-modal__btn-close:hover,
.info-modal__btn-close:focus {
  cursor: pointer;
  color: var(--clr-neutral-700);
  background-color: var(--clr-primary-400);
  opacity: 1;
}

.info-modal__btn-close:active {
  transform: scale(0.95);
  box-shadow: none;
}

.info-modal__txt-highlight {
  color: var(--clr-primary-400);
}
