.logo {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.logo__img {
  --size: 1.5em;
  width: var(--size);
  height: var(--size);
  object-fit: contain;
  object-position: top;
}

.logo__text {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-400);
}
